# Node
node_modules/
.env

# Coverage reports
coverage/

# Next.js
.next/
out/

# TypeScript build output
dist/

# Java
target/
*.log

# OS
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
src/generated/prisma
